*{
    font-size: 37pt;
    color: red;
    background-color: silver;
}
p.kovalchuk_nieuniwersalny{
    font-size: 34pt;
    color: green;
}
.kovalchuk_uniwersalny{
    font-size: 31pt;
    color: green;
}


/* Kovalchuk z57_css */