 div#blok1_Kovalchuk {background-color: 00ff00;width:611px;} 
                       div#blok2_Kovalchuk {background-color: 00ff00;width:611px;} 
                       div#blok3_Kovalchuk {background-color: 00ff00;width:611px;} 
                       div#blok1_Kovalchuk:hover {background-color:silver;font-size:19mm;}
                       div#blok2_Kovalchuk:hover {background-color:yellow;font-size:19mm;} 
                       div#blok3_Kovalchuk:hover {background-color:turquoise;font-size:19mm;}  
/* Kovalchuk Tymofii */ 
