  p{
    color: red;
    font-size: 22pt;
}
#gruby_kovalchuk{
    color: green;
    font-size: 17pt;
    font-weight: bold;
}
#dlawszyskich_kovalchuk{
    color: yellow;
    font-size: 10pt;
}
           /*  Kovalchuk Tymofii  */ 